<img src="/games-background.jpg" class="games-background" alt="Game Background" />
<section class="games">
    <app-navbar></app-navbar>
    <div>
        <h1>Nos jeux </h1>
        <p>Voici quelques jeux pour apprendre en s'amusant</p>
    </div>
    <div class="games-list">
        <div class="game">
            <a href="/get-it-back">
                <img src="/character-scuba.png" alt="Submarine"/>
                <h2 >GetItBack</h2>
            </a>
        </div>
        <div class="game memo-sea">
            <a href="/memo-sea">
                <img src="/cards/card1.jpg" alt="Memory Card"/>
                <h2 >MemoSea</h2>
            </a>
        </div>  
    </div>
</section>